
<h1>Dear,<%= @user.email %></h1>
<p>A Suspicious logIn has been detected on your account.</p>
<p>if it is not you please contact the support team <br> or change the password</p>
<p>Yours Sincerely</p>
<p>Admin</p>