
<!DOCTYPE html>
<html>

    <head>
        <title>Page Title</title>
    </head>
    <body>
        <h1>Hello <%= @user.email %></h1>
        <p>Welcome to our website hope u will love out website</p>
        <p>Yours Sicerely</p>
        <p>Admin</p>
    </body>
</html>